body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3a3a3a;
    border-radius: 8px;
}

.header, .section {
    margin-bottom: 40px;
}

.header {
    text-align: center;
}

.header img {
    border-radius: 15px;
    width: 150px;
    height: auto;
    object-fit: cover;
}

.header h1 {
    margin: 20px 0 10px 0;
    font-size: 2.5em;
}

.header p {
    margin: 5px 0;
}

.social-icons a {
    margin: 0 10px;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.5em;
}

a {
    color: #ff9800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.skills, .certificates, .projects, .education, .interests, .fun-facts {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
}

.section-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.skill-item img {
    width: 150px;
    flex-shrink: 0;
}

.skill-bar {
    flex-grow: 1;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 3px;
}

.skill-level {
    height: 100%;
    background-color: #1e90ff;
    border-radius: 5px;
}

.projects .project {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.projects img {
    border-radius: 15px;
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.projects h3 {
    margin: 0 0 10px 0;
}

.projects .tech-icons img {
    margin-right: 5px;
    height: 24px;
}

.projects .project-links a {
    margin-right: 10px;
    color: #ff9800;
    text-decoration: none;
}

.projects .project-links a:hover {
    text-decoration: underline;
}
